h2.title
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: left;
}
table.connections
{
	margin-top:10px;
	border:1px solid #ccc;
	width:50%;
	margin-left:auto;
	margin-right: auto;
}
table.connections td
{
	margin-left: auto;
	margin-right: auto;
	width:auto%;
	height:auto;
	padding-top:10px;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
}
.connections img
{
	height:52px;
	width:auto;
	display:inline-block;
}
table.connections td:first
{
	border-bottom: 1px solid #ccc;
}
